 Name: Magdeline
Date: 09/05/2019

In [1]:
# Imoprting the library
import pandas as pd
import numpy as np
import datetime

In [2]:
# Load the dataset
cars_df = pd.read_csv('C:\python dataset\cars.csv')

In [3]:
# Read the first 5 rows
cars_df.head()

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,chevrolet chevelle malibu,18.0,8,307,130,3504,12,1970[1975],"US; Detroit, Michigan",3.47,2.68,9
1,buick skylark 320,15.0,8,350,165,3693,11.5,1970,US],3.47,2.68,?
2,plymouth satellite,18.0,?,318,150,3436,11,"1970, 1976",US,2.68,3.47,9
3,amc rebel sst,16.0,8,304,150,3433,12,1970,US,3.19,3.40,10
4,ford torino,17.0,8,302,140,3449,10.5,1970-1972,US],3.19,3.40,8

In [4]:
# Return the last 5
cars_df.tail()

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
389,ford mustang gl,27.0,4,140,86,2790,15.6,1982-1985,US,3.15,3.29,9.4
390,vw pickup,44.0,4,97,52,2130,24.6,1982,Europe,3.15,3.29,9.4
391,dodge rampage,32.0,4,135,84,2295,11.6,1982-1985,US,3.15,3.29,9.4
392,ford ranger,28.0,4,120,79,2625,18.6,1982,US,3.15,3.29,9.4
393,chevy s-10,31.0,4,119,82,2720,19.4,1982,US,3.15,3.29,9.4

In [5]:
# Checking the shape
cars_df.shape

(394, 12)

In [6]:
# Replacing the ? sign with NaN
cars_df = cars_df.replace('?', np.nan) 
cars_df.head()

,Model,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Year,Origin,bore,stroke,compression-ratio
0,chevrolet chevelle malibu,18.0,8,307,130,3504,12,1970[1975],"US; Detroit, Michigan",3.47,2.68,9
1,buick skylark 320,15.0,8,350,165,3693,11.5,1970,US],3.47,2.68,NaN
2,plymouth satellite,18.0,NaN,318,150,3436,11,"1970, 1976",US,2.68,3.47,9
3,amc rebel sst,16.0,8,304,150,3433,12,1970,US,3.19,3.40,10
4,ford torino,17.0,8,302,140,3449,10.5,1970-1972,US],3.19,3.40,8

In [7]:
# count the nan values
cars_df.isnull().sum()

Model                0
MPG                  9
Cylinders            2
Displacement         1
Horsepower           0
Weight               1
Acceleration         1
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    2
dtype: int64

In [8]:
# Filling in the null in the MPG
cars_df['MPG'] = cars_df['MPG'].fillna(cars_df['MPG'].mean())
cars_df.isnull().sum()

Model                0
MPG                  0
Cylinders            2
Displacement         1
Horsepower           0
Weight               1
Acceleration         1
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    2
dtype: int64

In [9]:
# Dropping the NaN on the cylinder
cars_df = cars_df.dropna()

In [10]:
cars_df.isnull().sum()

Model                0
MPG                  0
Cylinders            0
Displacement         0
Horsepower           0
Weight               0
Acceleration         0
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    0
dtype: int64

In [11]:
# Checking for data types
cars_df.dtypes

Model                 object
MPG                  float64
Cylinders             object
Displacement          object
Horsepower             int64
Weight                object
Acceleration          object
Year                  object
Origin                object
bore                 float64
stroke               float64
compression-ratio     object
dtype: object

In [12]:
# Checking the values in the cylinder
cars_df['Cylinders'].isnull().values.any()

False

In [13]:
# checking the values for numeric
cars_df['Cylinders'].str.isnumeric().value_counts()

True     378
False      9
Name: Cylinders, dtype: int64

In [14]:
# checking the values that are not numeric
cars_df['Cylinders'].loc[cars_df['Cylinders'].str.isnumeric() == False]

11    -
22    -
32    -
42    -
51    -
58    -
69    -
82    -
89    -
Name: Cylinders, dtype: object

In [15]:
# Getting the mean of the numeric values in the cylinder
cylinder = cars_df['Cylinders'].loc[cars_df['Cylinders']  != '-']

In [16]:
cylinder

0      8
3      8
4      8
6      8
7      8
      ..
389    4
390    4
391    4
392    4
393    4
Name: Cylinders, Length: 378, dtype: object

In [20]:
cylinder = cylinder.mean()
cmean = cylinder.astype(int)

In [18]:
cmean = cylinder.astype(int).mean()

In [19]:
cmean

-2147483648.0